.turnbase-combat-outer{
    position: absolute;
    top: 20%;
    width: 60%;
    height: 60%;
    transition: 1s all;
    z-index:10;
    background-color: burlywood;
    border-radius: 10px;
}

.turnbase-combat-outer h3, h2{
    text-align: center;
}
.turnbase-combat-outer img{
    margin-left: 46%;
}

.turnbase-combat-outer.out{
    left: -80%;
}

.turnbase-combat-outer.in{
    left: 20%;
}

.turnbase-combat-portrait{
    height: auto;
    display: inline-block;
    border-radius: 5px;
}

.turnbase-fields{
    width: 100%;
    height: 100%;
}

.turnbase-field{
    height: 46%;
    border: 1px solid brown;
    margin: 4px;
    border-radius: 5px;
}

.turnbase-dicefield{
    position: absolute;
    top: 38%;
    left: 10%;
    width: 90%;
    height: 25%;
    z-index: 1234;
}

.turnbase-rollbutton{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 39%;
    left: 0;
    z-index: 1212;
}
