.turnbase-ui-frame{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.turnbase-ui-outer{
    position: absolute;
    z-index: 1;
    width: 10%;
    height: 30%;
}

.turnbase-ui-outer img{
    width: 33%;
}

.turnbase-ui-outer.player-phase{

}

.turnbase-ui-outer.endphase-button{

}

.turnbase-ui-panel{
    position: absolute;
    top: 65%;
    left: 20%;
    width: 60%;
    height: 40%;
    transition: 1s all;
    z-index:10;
    background-color: burlywood;
    border-radius: 10px;
}

.turnbase-ui-panel.out{
    top: 120%;
}

.turnbase-ui-panel.in{
    top: 65%;
}

.turnbase-purchase-frame{
    margin-left: 5%;
}