
svg {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

    width: 100%;
    height: 100%;
    overflow: visible;
}

input[type=range]{
    width: 20px;
    height: 10px;
}

.no-events{
    pointer-events: none;
}

.modal{
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

.turnbase-map-outer{
    height: 100%;
}

.turnbase-region{
    stroke-opacity: 1;
    stroke-width:0.5;
    fill-opacity: 1;
}

.turnbase-sea{
    fill: #284670;
    fill-opacity: 1;
}

.turnbase-unit{
    stroke: black;
    fill-opacity: 1;
    stroke-opacity: 1;
    stroke-width:1;
    cursor: pointer;
}

.turnbase-region.selected{
    fill: green;
}

.turnbase-region.unit-path-region{
    fill: green;
}

.turnbase-unit-mission-modal{
    position: absolute;
    top: 43%;
    width: 20%;
    height: 17%;
    transition: 1s all;
    z-index:10;
    background-color: burlywood;
    border-radius: 10px;
    padding-bottom: 10px;
}
.turnbase-unit-mission-modal.out{
    left:-20%;
}
.turnbase-unit-mission-modal.in{
    left: 40%;
}
.turnbase-unit-mission-modal img{
    width: 80px;
    height: 100%;
    margin-left: 8%;
    cursor: pointer;
}